# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
*/.env

# Build files
build/
dist/
*/build/
*/dist/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
